/*
body {font-size:76%; font-family: Arial, Helvetica, sans-serif; background:#061110;}
*/

@media all {
        .page-break     { display: none; }
		.header			{ display: none; }
}

@media print {
        .page-break     { display: block; page-break-before: always; }
}

@page {
        margin: 1.5cm 1cm 2cm 1cm;
    counter-increment: page;
    counter-reset: page 1;
    @bottom-right {
                font-size: 9pt;
        content: "Page " counter(page) "/" counter(pages);
    }
}

body {
	margin: 0;
	padding: 0;
	background: #061110;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #0F6059;
}

h1 {font-size:2em; margin:0; color:#fff;}
h2 {font-size: 1.5em;}
h3 {font-size:1.2em; margin:0;}

p, ul, ol {
	margin-top: 0;
	line-height: 160%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #14786E;
}


p {font-size:1em; line-height:1.5em; margin:0; padding:5px 0;}

img {width: 100%;}

.content {padding:10px;}

#minMax {min-width:700px; max-width:1000px; margin:0 auto; background:#e0e0e0;}

/* Header */
#header {background:#061110; text-align: right;}

/* Logo */

#logo {color: #FFFFFF;}

#logo h1, #logo p {display: block; margin: 0; padding: 0;}

#logo h1 {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h1 a {color: #FFFFFF;}

#logo p {
	font-family: 'Arvo', serif;
	font-size: 1.2em;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */
#menu-wrapper {	height: 50px;	background: #00312D center top; }
#menu {width: 100%; height: 48px; margin: 0px auto; padding: 0px 0px 0px 0px; }
#menu ul {margin: 0; padding: 0px 0px 0px 0px; list-style: none; line-height: normal; }
#menu li { float: left; }
#menu a {
	display: block;
	float: left;
	height: 50px;
	margin: 0px;
	padding: 0px 20px 0px 20px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
    outline: none;

	-o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	/* ...and now override with proper CSS property */
	transition:color .2s ease-out, background .2s ease-in;
}

#menu .smallpadl {
//margin: auto;
	padding: 0px 20px 0px 5px;
}

#menu .smallpadl img {
	padding: initial;
}

#menu .smallpadr a{
	padding: 0px 5px 0px 20px;
}

#menu .current_page_item a { color: #FFFFFF; }
#menu a:hover {	text-decoration: none;	color: #FFFFFF; background: #061110;}


#menu-image a {
	float: right;
	height: 44px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}
#menu-image a:hover {	text-decoration: none;	color: #FFFFFF; }
#menu-image img {
	margin:0;
	padding: 3px 3px 3px 3px;
	float: right;
	height: 100%;
	width: auto;
	
}

/* Rest */
#topbar {width:80%; float:left; background:#d8d8d8;}
#lightbar {float:left; width:80%; background:#e0e0e0;}
#darkbar  {float:left; width:80%; background:#c0c0c0;}
#sidebar {float:right; width:20%; background:#c0b0b0;}
#lightbar, #darkbar, #sidebar {padding-bottom:32767px; margin-bottom:-32767px;}

#wrapper {overflow:hidden;}

#footer {clear:both; background:#455c5a;}

#footer p, #header p {color:#fff;}
#footer a {color:#fff;}
#footer a:hover {text-decoration:none;}
